/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --title-text-color: #DB00FF;
  --header-menu-color: #ff0070;
  --corner-decor-color: #ff0070;
  --section-heading-color: #ff0070;
  --header-bg: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
