/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  width: 100%;
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  background-image: var(--header-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  color: var(--accent-color);
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    padding-left: 0;
  }
}

.decorated-zone:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  color: var(--corner-decor-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  color: var(--corner-decor-color);
  inline-size: 25px;
  block-size: 25px;
}

@media (width >= 768px) {
  .decorated-zone:before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone:after {
    bottom: 20px;
    left: 20px;
  }
}

.recording-element {
  position: absolute;
  right: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: end;
}

@media (width >= 768px) {
  .recording-element {
    right: 48px;
  }
}

.recording-element::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4.5px 2.5px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 65px;
  color: var(--header-menu-color);
  text-align: end;
}

@media (width >= 768px) {
  .header__theme-menu-list {
    margin-block-start: 122px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
    margin-block-start: 0px;
  }
}

.header__theme-menu-button {
  border: none;
  border-color: currentColor;
  padding: 1.5px 13px;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header-discription {
  margin-top: 55px;
  margin-bottom: 56px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 18px;
  inline-size: 100%;
}

@media (width >= 768px) {
  .header-discription {
    margin-top: 162px;
    margin-right: 0;
    margin-bottom: 163px;
    margin-left: auto;
    inline-size: 49%;
  }
}

@media (width >= 1024px) {
  .header-discription {
    margin-top: 114px;
    margin-bottom: 114px;
    padding-right: 0px;
  }
}

.title-decor {
  color: var(--header-discription-color);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  text-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0 10px 0 10px;
}

@media (width >= 768px) {
  .main {
    gap: 20px;
    padding: 0 20px 0 20px;
  }
}

.page-section {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 40px;
}

.page-section:last-child {
  display: block;
}

.section-list li:first-child {
  margin-top: 0;
}

.section-list li {
  margin-top: 20px;
  list-style: none;
}

@media (width >= 768px) {
  .main {
    gap: 20px;
  }
  .page-section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: 60px;
  }
  .section-list {
    grid-column: 2;
  }
  .different-grid-section .section-list {
    grid-column: 1 / 3;
  }
}

@media (width >= 1024px) {
  .different-grid-section {
    grid-template-columns: 1fr;
  }
  .different-grid-section .section__main-heading {
    inline-size: 33vw;
  }
  .different-grid-section .section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .different-grid-section .section-list li {
    margin-top: 0;
  }
}

.section__main-heading {
  color: var(--section-heading-color);
  font-size: 18px;
}

.section__heading {
  margin-top: 20px;
}

@media (width >= 768px) {
  .section__heading {
    margin-top: 0;
  }
}

.section__subheading {
  margin-top: 20px;
  font-weight: 400;
}

.section__text {
  margin-top: 10px;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.highlight-word {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-start: 10px;
  margin-block-end: 40px;
}

@media (width >= 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 20px;
    margin-block-end: 60px;
  }
}

.gallery-image {
  object-fit: cover;
  inline-size: 100%;
}

@media (width >= 768px) {
  .gallery-image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .gallery-image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
    block-size: 100%;
  }
  .gallery-image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;

    block-size: 100%;
  }
  .gallery-image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .gallery-image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--main-text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.highlight-word:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.highlight-word:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.footer {
  position: relative;
  padding: 10px;
  inline-size: 100%;
  max-block-size: 100vh;
  min-block-size: 668px;
}

.footer-title {
  margin-top: 276px;
  margin-bottom: 275px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 86%;
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .footer {
    padding: 20px;
  }
  .footer-title {
    margin-top: 443px;
    margin-bottom: 442px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .footer-title {
    margin-top: 299px;
    margin-bottom: 299px;
  }
}
