/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --red: #FF0070;
  --purple: #DB00FF;
  --soft-pink: #F1B2CE;
  --pink: #FFC2E6;
  --bright-pink: #FF8DCB;
  --skin: #FFF1F7;
  --black: #353430;
  --dark-blue: #000028;
}