/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --accent-color: #ff0070;
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --header-menu-color: #ff0070;
  --header-discription-color: #000028;
  --corner-decor-color: #ff0070;
  --section-heading-color: #ff0070;
  --title-text-color: #DB00FF;
  --button-hover-color: rgba(255, 0, 112, 0.5);
  --header-bg: url(../images/cover-image-dark.png);
}