/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --red: #FF0070;
  --purple: #DB00FF;
  --soft-pink: #F1B2CE;
  --pink: #FFC2E6;
  --bright-pink: #FF8DCB;
  --skin: #FFF1F7;
  --black: #353430;
  --dark-blue: #000028;
  --accent-color: #ff0070;
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --header-menu-color: #ff0070;
  --header-discription-color: #000028;
  --corner-decor-color: #ff0070;
  --section-heading-color: #ff0070;
  --title-text-color: #DB00FF;
  --header-bg: url(../images/cover-image-dark.png);
}